<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flaire - Thank You!</title>
	<!-- Link to CSS -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<!-- Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
</head>

<body>

	<h1 id="font-resize" class="center red-text">Sit tight, well notify you when we are ready!</h1>
	<h2 id="font-resize" class="center red-text"> - Flaire Team</h2>

</body>
</html>